# Build
build/

# Dependencies
libtorch/
env/pcapplusplus

# Python
__pycache__/
*.pyc
*.pyo

# Results (keep structure, ignore content)
results/*/
!results/_summary/

# Config (generated)
config/*/

# Logs
logs/
*.log
results

# IDE
.vscode/
.idea/
*.swp
